@CHARSET "UTF-8";

body {
    text-align: center;
}

#photo {
    display: inline-block;
    margin-bottom: 20px;
}

#photo > a > img {
    height: 148px;
    width: auto;
}

#about-text {
    width: 500px;
    padding: 10px 20px;
}

#about-text > p {
    text-align: left;
}

#masthead {
    text-align: center;
}
