@CHARSET "UTF-8";

body {
    text-align: center;
}

#middle {
    height: 100%;
    padding: 7.5px;
    width: 320px;
    display: table;
}

#middle > div {
    display: table-row;
}

#middle > div > div {
    display: table-cell;
    width: 33%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

#top {
    height: 20px;
}

#main-photo {
    text-align: center;
}

#main-photo > a > img {
    padding: 6px;
    height: 425px;
    width: 425px;
}

#copy-write {
    font-size: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

.issue {
    padding: 5px;
}
